*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
/*INTRO MENU STYLES*/
    .introMenu{
        display: grid;
        grid-template-rows: repeat(9, 1fr);

        height: 100vh;
        width: 100vw;
    }

        .introMenu img{
            grid-row: span 2;
            height: 100%;
        }

        .introMenu .title{
            grid-row: span  3;
        }

/*PAUSE MENU STYLES*/
.pauseMenu{
    position: absolute;
    z-index: 999;
    top: 0;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10vh;

    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.5);

    box-sizing: border-box;
    padding: 20vh 0;
}
    .pauseMenu img{
        height: 100%;
    }

/*INGAME STYLES*/
.inGame{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.score{
    position: absolute;
    top: 2vh;
    left: 2vh;

    height: 10vh;
}
    .score img{
        height: 100%;
        width: auto;
    }

.pauseBtn{
    position: absolute;
    top: 2vh;
    right: 2vh;

    height: 10vh;
}
    .pauseBtn img{
        height: 100%;
        width: auto;
    }

/*PAUSE BOX*/
#pauseBox{
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*ANIMATIONS*/
